@media screen and (max-width: 1200px) {
  .aboutGrid > div {
    margin: -260px -50px auto 125px;
  }
  .aboutMain > p {
    width: 800px;
    text-align: center;
  }
  .aboutMain > h3 {
    width: 800px;
    text-align: center;
  }
  .aboutContainer > div{
    margin: 100px 365px auto auto;
  }
}

@media screen and (max-width: 1000px) {
  .aboutGrid > div {
    margin: -320px -100px auto 125px;
  }

  .aboutGridMain > div{
    margin-left: -150px;
  }

  .aboutMain > p {
    width: 800px;
    text-align: center;
  }
  .aboutMain > h3 {
    width: 800px;
    text-align: center;
  }
  .aboutContainer > div{
    margin: 100px 300px auto -70px;
  }
}

@media screen and (max-width: 800px) {

  .aboutGrid > div{
    display: none;
  }
  
  .aboutName{
    display: none;
  }
  .logoLinks > a{
    display: none;
  }
  .aboutContainer > div {
    margin: -200px 300px auto auto;
  }
  .aboutMain > div {
    margin-top: -100px;
  }
  .aboutMain >p{
    text-align: center;
    width: 500px;
  }
  .aboutMain > h3{
    text-align: center;
    width: 500px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

nav {
  z-index: 2;
}

/* .phoneNumber {
  display: none;
} */

.affirmationLogo
{
  width: 40px;
  height: 40px;
  margin: -2px auto auto 10px;
}

.aboutMain {
  text-align: left;
  width: 50%;
  margin: -20% auto -10% 60%;
}

.aboutBody {
  font-size: 17px;
}

.aboutContainer {
  margin-right: 60px;
}

.aboutGrid {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: -25% auto -10% -6%;
}

.margaret {
  grid-column: span 1;
  grid-row: span 2;
}

.steven {
  grid-column: span 1;
}

.tanner {
  grid-column: span 1;
}

.steven img {
  width: 200px;
}

.steven img:hover {
  opacity: 80%;
}

.margaret img {
  width: 200px;
}

.margaret img:hover {
  opacity: 80%;
}

.tanner img {
  width: 200px;
}

.tanner img:hover {
  opacity: 80%;
}

.logoLinks img {
  width: 40px;
  padding: 5px;
  margin-top: -15px;
}

.example-enter {
  opacity: 0;
}

.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 0;
}

.example-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.buttonModal {
  margin-top: 10px;
}

.numberModal {
  text-align: center;
}

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #c2faff 20%, #ffff 60%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

.backgroundContainer {  
  margin: -100px auto auto auto;
  z-index: -1;
}